.form{
  margin-bottom: 2rem;
}

.perdeuSenha{
  display: inline-block;
  counter-reset: #666;
  padding: .5rem;
  line-height: 1;
}

.perdeuSenha::after{
  content: "";
  height: 2px;
  width: 100%;
  background: currentColor;
  display: block;
}

.cadastro{
  margin-top: 4rem;
}

.cadastro p{
  margin-top: 2rem;
  margin-bottom: 2rem; 
}

.subtitulo{
  font-family: var(--tipo-secundario);
  list-style: 1;
  font-size: 2rem;
}

.subtitulo::after{
  content: "";
  display: block;
  height: .5rem;
  width: 3rem;
  background: #ddd;
  border-radius: .2rem;
}