.containerInput{
  margin-bottom: 1rem;
}

.input{
  border: 1px solid #eee;
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: .8rem;
  border-radius: .4rem;
  background: #eee;
  transition: .2s;
}

.input:hover,
.input:focus{
  outline: none;
  border-color: #6a009e;
  background: white;
  box-shadow: 0 0 5px 2px #be94d3;
}

.label{
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: .5rem;
}